<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
	</startup>

	<appSettings>
		<add key="SAPConnPRD" value="AHOST=SRV0818 SYSNR=00 CLIENT=400 USER=SAPCPIC PASSWD=vc400prd"/>
		<add key="SAPConnQAS" value="ASHOST=10.50.7.3 SYSNR=00 CLIENT=400 USER=SAPCPI PASSWD=Vc400prd"/>
	</appSettings>

</configuration>
